{% extends "layout1.html" %}
{{% block body %}

<head>
  <title>Shuttle Firması</title>
  {% load static %} 
</head>
<body>
  <h3>Shuttle Chart</h3>
  <div class = "container" style = "width:'75%'">
    <canvas id="myChart"></canvas>
  </div>
  <br><br><br>
  <div class = "container" style = "width:'75%'">
    <canvas id="myChart_mix"></canvas>
  </div>
   <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
   <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fint.js" %}"></script>
   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{sefer_yeri|safe}},
        datasets: [{
            label: 'Ücretler',
            data: {{ucret|safe}},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(128, 255, 0, 0.2)',
                'rgba(191, 255, 0, 0.2)',
                'rgba(255, 64, 0, 0.2)',
                'rgba(0, 255, 128, 0.2)',
                'rgba(0, 255, 255, 0.2)',
                'rgba(0, 128, 255, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(128, 255, 0, 1)',
                'rgba(191, 255, 0, 1)',
                'rgba(255, 64, 0, 1)',
                'rgba(0, 255, 128, 1)',
                'rgba(0, 255, 255, 1)',
                'rgba(0, 128, 255, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});



var ctx = document.getElementById('myChart_mix').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{firma|safe}},
        datasets: [{
            label: 'Ücretler',
            data: {{ucret|safe}},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(128, 255, 0, 0.2)',
                'rgba(191, 255, 0, 0.2)',
                'rgba(255, 64, 0, 0.2)',
                'rgba(0, 255, 128, 0.2)',
                'rgba(0, 255, 255, 0.2)',
                'rgba(0, 128, 255, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(128, 255, 0, 1)',
                'rgba(191, 255, 0, 1)',
                'rgba(255, 64, 0, 1)',
                'rgba(0, 255, 128, 1)',
                'rgba(0, 255, 255, 1)',
                'rgba(0, 128, 255, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>
</body>

{% endblock body %}}
