{% extends 'layout1.html' %}
{% block body %}

<h3>Firma Paneli</h3>

{% if expeditions %}

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Transfer Tarihi-Saati</th>
        <th scope="col">Şoför</th>
        <th scope="col">Firma</th>
        <th scope="col">Misafir Adı</th>

        <th scope="col">Transfer Yeri</th>
        <th scope="col">Ücret</th>
        <th scope="col">Misafir Tel</th>
        <th scope="col">Misafir Adress</th>
        <th scope="col">Oluşturulma Tarih</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      {% for expedition in expeditions %}
        <tr>
          <td>{{expedition.ayar_tarih}}</td>
          <td><a href="/expedition/expedition/{{expedition.id}}">{{expedition.sofor_pilot}}</a></td>
          <td>{{expedition.firma}}</td>
          <td>{{expedition.musteri}}</td>
          <td>{{expedition.musteri_tel}}</td>

          <td>{{expedition.sefer_yeri}}</td>
          <td>{{expedition.ucret}} TL</td>
          <td>{{expedition.musteri_adress}}</td>
          <td>{{expedition.tarih}}</td>
          <td><a href="/expedition/update/{{expedition.id}}" class="btn btn-success">Güncelle</a></td>
          <td><a href="/expedition/delete/{{expedition.id}}" class="btn btn-danger">Sil</a></td>
        </tr>

      {% endfor %}
    </tbody>
  </table>

{% else %}
<div class="alert alert-danger">
  Henüz Bir Transferiniz Bulunmuyor...
</div>
{% endif %}

{% endblock body %}
