{% extends 'layout.html' %}
{% block body %}

<h3>Firma Paneli</h3>

{% if expeditions %}

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Şoför</th>
        <th scope="col">Transfer Yeri</th>
        <th scope="col">Ücret</th>
        <th scope="col">Firma</th>
        <th scope="col">Misafirin Adı</th>
        <th scope="col">Tarih</th>
        <th scope="col">Güncelle</th>
        <th scope="col">Sil</th>
      </tr>
    </thead>
    <tbody>

      {% for expedition in expeditions %}
        <tr>
          <th scope="row">{{expedition.id}}</th>
          <td><a href="/expedition/expedition/{{expedition.id}}">{{expedition.sofor_pilot}}</a></td>
          <td>{{expedition.sefer_yeri}}</td>
          <td>{{expedition.ucret}} TL</td>
          <td><a href="/expedition/firma_list/{{expedition.firma}}">{{expedition.firma}}</a></td>
          <td>{{expedition.musteri}}</td>
          <td>{{expedition.tarih}}</td>
          <td><a href="/expedition/update/{{expedition.id}}" class="btn btn-success">Güncelle</a></td>
          <td><a href="/expedition/delete/{{expedition.id}}" class="btn btn-danger">Sil</a></td>
        </tr>

      {% endfor %}
    </tbody>
  </table>

{% else %}
<div class="alert alert-danger">
  Henüz Bir Transferiniz Bulunmuyor...
</div>
{% endif %}

{% endblock body %}
